.introduction {
  color: #eee;
  position: relative;
  height: 400px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.myname {
  font-size: 56px;
  padding-top: 130px;
}
.myname img {
  width: 80px;
  padding-right: 20px;
  border-radius: 50%;
}
.subtitle {
  font-size: 20px;
  padding-top: 40px;
}
.works-section {
  padding: 30px 0;
  max-width: 1024px;
  margin: auto;
}
.android-card-container .mdl-card__media img {
  width: 100%;
}
.tech-icons {
  width: 200px;
}
.section-title {
  margin-left: 18px;
  padding-bottom: 13px;
}
.list-in-card {
  padding-left: 20px;
  margin: 0;
}

#particles-js {
  background-color: #000;
  position: absolute;
  height: 400px;
  width: 100%;

  background: url('../img/intro-bg.jpg') center 80% no-repeat;
  background-size: cover;
}
